<!-- POUR LE 14 MARS -->


<!-- https://wireframe.cc/sj9k5e -->
<!-- https://wireframe.cc/1gwQxH -->
<!-- Pour les covers des albums : https://musicbrainz.org/doc/Cover_Art_Archive/API -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>MusicBrainz</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="application">
        <div class="container">
            <div class="topHeader">

                <h1>Music Brainz</h1>

                <div class="searchForm">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Recherche" v-model="textOfSearch"
                                v-on:keyup.enter="searchAPI(typeOfSearch,textOfSearch)">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary"
                                v-on:click="searchAPI(typeOfSearch,textOfSearch)">Rechercher</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline" v-for="info in infosRadioButton">
                            <input class="form-check-input" type="radio" name="typeOfSearch" v-bind:value="info.value"
                                v-model="typeOfSearch">
                            <label class="form-check-label">{{ info.text }}</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content">

                <div v-if="resultType == 'artist'">
                    <tablelistartists v-bind:artistsdata="resultSearch">
                    </tablelistartists>
                </div>

                <div v-if="resultType == 'recording'">
                    <tablelistrecordings v-bind:recordingsdata="resultSearch">
                    </tablelistrecordings>
                </div>

                <div v-if="resultType == 'cdstub'">
                        <tablelistcdstubs v-bind:cdstubsdata="resultSearch">
                        </tablelistcdstubs>
                </div>

            </div>

        </div>
    </div>

    <script src="script.js"></script>
    <script>
        var app = new Vue({
            el: "#application",
            data: {
                loading: true,
                errored: false,
                errorText: '',
                resultSearch: '',
                resultType: '',


                //Boutons Radios
                infosRadioButton: [
                    { value: 'artist', text: 'Artiste' },
                    { value: 'recording', text: 'Chanson' },
                    { value: 'cdstub', text: 'Album'}
                ],
                typeOfSearch: 'artist',
                textOfSearch: '',




            },

            methods: {

                searchAPI(typeOfSearch, textOfSearch) {
                    // Méthode qui permet d'effectuer une recherche
                    // params : type = type de recherche (artist ou recording); search = texte de la recherche
                    // return : résultat de la recherche

                    axios
                        .get('http://musicbrainz.org/ws/2/' + typeOfSearch + '/?fmt=json&query=' + textOfSearch.trim(), {
                            proxy: {
                                host: 'http://www-cache.iutnc.univ-lorraine.fr/',
                                port: 3128
                            }
                        })
                        .then(response => {
                            this.resultType = typeOfSearch
                            this.resultSearch = response['data'][typeOfSearch + 's']
                            console.log(this.resultSearch)
                        })
                        .catch(error => {
                            this.errored = true
                            this.errorText = error
                        })
                        .finally(() => {
                            this.loading = false
                        })

                },



            },

            computed: {

            },



        })
    </script>

    <style>
    </style>
</body>

</html>