<!-- POUR LE 14 MARS -->

<!-- Wireframe pour la recherche : https://wireframe.cc/sj9k5e -->
<!-- Wireframe pour l'affichage d'un artiste : https://wireframe.cc/1gwQxH -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>MusicBrainz</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="application">
        <div id="searchJumbotron" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-6 jumbotitle" style="margin-bottom: 50px;">
                    <div class="circle"></div>
                    <p id="jumbotitle">Music Brainz</p>
                </h1>
                <div class="d-flex justify-content-center">
                    <input id="searchBar" type="text" class="" placeholder="Recherche" v-model="textOfSearch"
                        v-on:keyup.enter="searchAPI(typeOfSearch,textOfSearch)">
                    <button id="searchButton" v-on:click="searchAPI(typeOfSearch,textOfSearch)"><img
                            src="loupe.png"></button>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-check form-check-inline searchTypeCheck" v-for="info in infosRadioButton">
                        <input class="form-check-input searchRadio" type="radio" name="typeOfSearch"
                            v-bind:value="info.value" v-model="typeOfSearch">
                        <label class="form-check-label searchTypeLabel">{{ info.text }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <section v-if="errored">
                <p>We're sorry, we are not able to retrieve this information at the moment, please try later.</p>
                <p>Code d'erreur : <br> {{errorText}}</p>
            </section>

            <section v-else>
                
                    <div class="d-flex justify-content-center" v-if="loading"> <spinner > </spinner> </div>

                    <!-- Affichage d'une recherche par artiste-->
                    <div v-if="resultType == 'artist'">
                        <tablelistartists v-bind:artistsdata="resultSearch" v-on:showartistevent="showArtist">
                        </tablelistartists>
                    </div>

                    <!-- Affichage d'une recherche par chanson-->
                    <div v-if="resultType == 'recording'">
                        <tablelistrecordings v-bind:recordingsdata="resultSearch" v-on:showartistevent="showArtist"
                            v-on:showalbumevent="showAlbum">
                        </tablelistrecordings>
                    </div>

                    <!-- Affichage d'une recherche par album-->
                    <div v-if="resultType == 'release'">
                        <tablelistrealeases v-bind:releasesdata="resultSearch" v-on:showalbumevent="showAlbum">
                        </tablelistrealeases>
                    </div>

                    <!-- Affichage de la page d'un artiste -->
                    <div v-if="resultType == 'artistpage' ">
                        <tablelistalbums v-bind:artistinfo="artistAlbums" v-on:backtosearchevent="backToSearch"
                            v-on:showalbumevent="showAlbum">
                        </tablelistalbums>
                    </div>

                    <!-- Affichage de la page d'un album -->
                    <div v-if="resultType == 'albumpage' ">
                        <tablelistalbumrecordings v-bind:albuminfo="albumRecordings" v-on:backtosearchevent="backToSearch"
                            v-on:showartistevent="showArtist">
                        </tablelistalbumrecordings>
                    </div>

            </section>
        </div>

    </div>


    <script src="components.js"></script>
    <script>
        var app = new Vue({
            el: "#application",
            data: {
                loading: false,
                errored: false,
                errorText: '',
                resultSearch: '',
                resultType: '',
                artistAlbums: '',
                albumRecordings: '',
                resultTypeHistory: '',
                textOfSearchHistory: '',


                //Radio de recherche
                infosRadioButton: [
                    { value: 'artist', text: 'Artiste' },
                    { value: 'recording', text: 'Chanson' },
                    { value: 'release', text: 'Album' }
                ],

                typeOfSearch: 'artist',
                textOfSearch: '',

            },

            methods: {
                searchAPI(typeOfSearch, textOfSearch) {
                    // Méthode qui permet d'effectuer une recherche
                    // params : type = type de recherche (artist ou recording); search = texte de la recherche
                    // return : résultat de la recherche
                    
                    if (textOfSearch.trim() != "") {
                        this.loading = true
                        axios
                            .get('http://musicbrainz.org/ws/2/' + typeOfSearch + '/?fmt=json&query=' + textOfSearch.trim() + "&inc=artists", {
                                proxy: {
                                    host: 'http://www-cache.iutnc.univ-lorraine.fr/',
                                    port: 3128
                                }
                            })
                            .then(response => {
                                this.textOfSearchHistory = textOfSearch
                                this.resultType = typeOfSearch
                                this.resultSearch = response['data'][typeOfSearch + 's']
                                this.textOfSearch = ""
                                console.log(this.resultSearch)
                            })
                            .catch(error => {
                                this.errored = true
                                this.errorText = error
                            })
                            .finally(() => {
                                this.loading = false
                            })
                    }
                },


                showAlbum(albumId) {
                    // Méthode qui permet d'afficher un album et ses titres
                    // params : albumId = id de l'album
                    // return : résultat de la requete
                    this.loading = true
                    axios
                        .get('https://musicbrainz.org/ws/2/release/' + albumId + '/?fmt=json&inc=recordings artists', {
                            proxy: {
                                host: 'http://www-cache.iutnc.univ-lorraine.fr/',
                                port: 3128
                            }
                        })
                        .then(response => {
                            console.log(response)
                            this.resultTypeHistory = this.resultType
                            this.albumRecordings = response['data']
                            this.resultType = 'albumpage'
                        })
                        .catch(error => {
                            this.errored = true
                            this.errorText = error
                        })
                        .finally(() => {
                            this.loading = false
                        })
                },

                showArtist(artistId) {
                    // Méthode qui permet d'afficher un artiste et ses albums
                    // params : artistId = id de l'artiste
                    // return : résultat de la requete
                    this.loading = true
                    axios
                        .get('https://musicbrainz.org/ws/2/artist/' + artistId + '/?fmt=json&inc=releases', {
                            proxy: {
                                host: 'http://www-cache.iutnc.univ-lorraine.fr/',
                                port: 3128
                            }
                        })
                        .then(response => {
                            this.resultTypeHistory = this.resultType
                            this.artistAlbums = response['data']
                            this.resultType = 'artistpage'
                        })
                        .catch(error => {
                            this.errored = true
                            this.errorText = error
                        })
                        .finally(() => {
                            this.loading = false
                        })
                },

            },

            computed: {

            },



        })
    </script>

    <style>
    </style>
</body>

</html>