body{
    background-color: #444B55;
    font-family: 'Nunito', sans-serif;
    color:white;
}

.searchTypeLabel{
    color: #FFF;
}

.searchTypeCheck{
    margin-top: 10px;
    margin-bottom: 0;
}

#searchBar{
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    margin-right: 10px;
    
    border-bottom: #FFF solid 1px;
}

#searchButton{
    border-radius: 0;
    border: none;
    background-color: #7BAB01;
    color: #FFF;
}

#searchJumbotron{
    padding-top: 20px;
    background-color: #7BAB01;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.searchRadio{
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #FFF;
}

#mytable{
    background-color: #444B55;
    border:none;
}

#mytable thead{
    background-color: #ACCC3B;
    border : solid #ACCC3B 2px;
}

#jumbotitle{
    position: relative;
    z-index: 2;
}

.circle{
    position: relative;
    left:-10px;
    top:50px;
    
    background-color: #ACCC3B;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

#buttonShowArtist{
    background-color: #7BAB01;
}

#artistName{
    padding-top: 10px;
    color: #FFF;
}

#stripArtistName {
    background-color: #ACCC3B;
    width: 100%;
    margin-bottom: 20px;
}

#albumsTable{
    background-color: #444B55;
    border:none;
}

#backButton{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #7BAB01;
    color: white;
}